@property --c1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}
@property --c2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}

.custom .Window {
  background: rgba(255, 255, 255, 0.44) !important;
  backdrop-filter: blur(10px) !important;
  border: 1px rgba(149, 149, 149, 0.58) solid !important;
}
.custom .Window .WinContents {
  background: white !important;
  border: 1px rgba(149, 149, 149, 0.58) solid !important;
}
.custom .Window .Title {
  color: black !important;
}
.custom .Window .Button {
  background: transparent !important;
  color: black !important;
}
.custom .Window .Button.x {
  background: #c75050 !important;
  width: 40px !important;
  color: #fff !important;
}
.custom .Window .Button:hover {
  background: #0d73d1 !important;
  color: #fff !important;
}
.custom .Window .Button:hover.x {
  background: #c52020 !important;
}

.custom #Taskbar {
  background: rgba(255, 255, 255, 0.44) !important;
  backdrop-filter: blur(10px) !important;
  border: 1px rgba(149, 149, 149, 0.58) solid !important;
}
.custom #Taskbar .item .preview {
  background: rgba(255, 255, 255, 0.84) !important;
  border: 1px rgba(149, 149, 149, 0.58) solid !important;
}
.custom #Taskbar .Start {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6666666667)) !important;
}
.custom #Taskbar .Start:hover {
  background-color: #240763 !important;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0)) !important;
}
.custom #Taskbar .Start:hover .icon {
  background-size: 400% !important;
  animation: slide linear 5s !important;
  --c1: #5817e4 !important;
  --c2: #6e2df9 !important;
}
@keyframes slide {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}
.custom #Taskbar .Start {
  transition: 0.35s !important;
}
.custom #Taskbar .Start .icon {
  background-color: #fff !important;
  transition: --c1 0.35s, --c2 0.35s, background-color 0.35s !important;
  background: linear-gradient(to right, var(--c1) 25%, var(--c2) 30%, var(--c1) 35%) !important;
  mask-image: url("/assets/favicon_modern.svg") !important;
  mask-size: contain !important;
  mask-repeat: no-repeat !important;
  -webkit-mask-image: url("/assets/favicon_modern.svg") !important;
  -webkit-mask-size: contain !important;
  -webkit-mask-repeat: no-repeat !important;
  animation-delay: 1s !important;
}

.custom #StartMenu {
  background-color: #240763 !important;
}

.custom .Dialog {
  background: rgba(255, 255, 255, 0.84) !important;
  border: 1px rgba(149, 149, 149, 0.58) solid !important;
}
.custom .Dialog .ContentWrapper {
  background: #ffffff !important;
  border: 1px rgba(149, 149, 149, 0.58) solid !important;
}